<!DOCTYPE html>
<html>
<title>Ipl Score Predictor</title>

<style>

body, html {
  height: 100%;
  background: rgba(0, 0, 0); 
  line-height: 1.8;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
}

</style>
<body>

  <div style="padding:48px">
    <H1 style="color: antiquewhite;">Ipl Score Predictor</H1>
    <p style="color: antiquewhite;">Here you can predict the total score of a ipl team baised on some informations.</p><br>

    <a href="/predict" class="button">GO to Score Predication Page</a>

  </div> 

</body>
</html>
